name: Base Image Builds

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      variant:
        required: true
        type: string

jobs:
  build-image:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    permissions:
      packages: write
      actions: write
      contents: read
      pull-requests: write
      id-token: write
      attestations: write
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/cache/php
          tags: |
            type=raw,value=,prefix=${{ inputs.version }}-${{ inputs.variant }}-prebuild
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Compute scope hash for this combo
        id: compute_hash
        run: |
          # This step only echoes the expression into an output, evaluated by Actions
          # Use the same hashFiles() pattern you used in your build step.
          echo "scope_hash=${{ hashFiles('builder/**/Dockerfile') }}" >> $GITHUB_OUTPUT
      - name: Build PHP ${{ inputs.version }} ${{ inputs.variant }} (prebuild)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: builder/${{ inputs.variant }}/Dockerfile
          build-args: |
            PHP_VERSION=${{ inputs.version }}
          secrets: |
            github_token=${{ secrets.GITHUB_TOKEN }}
          pull: true
          builder: ${{ steps.buildx.outputs.name }}
          platforms: linux/amd64,linux/arm64
          provenance: mode=max
          sbom: true
          push: true
          cache-from: ${{ github.run_attempt == 1 && format('type=registry,ref=ghcr.io/{0}/cache/php:{1}-{2}-{3}', github.repository_owner, inputs.version, inputs.variant, steps.compute_hash.outputs.scope_hash) || '' }}
          cache-to: type=registry,mode=max,ref=${{ format('ghcr.io/{0}/cache/php:{1}-{2}-{3}', github.repository_owner, inputs.version, inputs.variant, steps.compute_hash.outputs.scope_hash) }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}